# 忽略文件模式
**/__pycache__
**/.pytest_cache
**/.venv
**/.vscode
**/.git
**/.gitignore
**/.env
**/.dockerignore
**/Dockerfile
**/docker-compose.yml
**/Makefile
**/README.md
**/*.log
**/venv
**/dist
**/build