fastapi
uvicorn # 启动fastapi应用h
sqlmodel
asyncpg
greenlet
# alembic # 用于数据库迁移
# dependency-injector
# bcrypt
# pydantic_settings

# asgi-lifespan
# aiosqlite
# python-dotenv
passlib[bcrypt]
# python-multipart
# python-jose[cryptography]
# python-dateutil